<html>
<body>

<h1><%= title %></h1>

<p>Please follow this link to activate your account:</p>

<a href="<%= url %>/user/verify?token=<%= token %><% if (email) { %>&email=<%= email %><% } %>" ><p>Activate my account!</p></a>

<p>Regards</p>
<p>The team at Rostyr</p>

</body>
</html>
