<!DOCTYPE html>

<% if(!user) { %>

<div class="masthead">
  <div class="container">
    <div class="row padform">

      <div class="col-md-8">
	<img class="center-block" src="/masthead.png" alt="Rostyr" />
      </div>

      <div class="col-md-4">
	<form method="post" action="api/user" role="form">
          <div class="login-form">

	    <h6 class="text-center">Full-featured trial</h6>
	    <p class="text-center"><small>30 days free, unlimited users, no contract.</small></p>
	    <div class="errors">
	      <% if (errors) { %>
	      <% for(i = 1; i < errors.length; i++) { %>
	         <p><%= errors[i] %></p>
		 <% } %>
		 <% } %>
	    </div>

	    <div class="form-group">
	      <input type="text" class="form-control login-field" value="" placeholder="First name" name="firstName" />
	      <label class="login-field-icon fui-user" for="firstName"></label>
	    </div>

	    <div class="form-group">
	      <input type="text" class="form-control login-field" value="" placeholder="Last name" name="lastName" />
	      <label class="login-field-icon fui-user" for="lastName"></label>
	    </div>

	    <div class="form-group">
	      <input type="text" class="form-control login-field" value="" placeholder="Company name" name="company" />
	      <label class="login-field-icon fui-user" for="company"></label>
	    </div>

	    <div class="form-group">
	      <input type="text" class="form-control login-field" value="" placeholder="Email" name="email" />
	      <label class="login-field-icon fui-mail" for="email"></label>
	    </div>

	    <input type="hidden" value="user" name="userType" />

	    <button type="submit" class="btn btn-primary btn-lg btn-block">Start free trial</button>
          </div>
	</form>
      </div>
    </div>

  </div>
</div>

<% } %>
