<div class="masthead">
  <div class="container">
    <div class="row padform">
      <div class="col-sm-2 col-sm-offset-2">
	<img src="/icon.png" alt="Welcome to Illuminate" />
        <h4><small>Log in to Illuminate</small></h4>
      </div>
      <div class="col-sm-6">
        <form method="post" action="/login" role="form">
          <div class="login-form">
	    <div class="form-group">
              <input type="text" class="form-control login-field" value="" placeholder="Email" name="email" />
              <label class="login-field-icon fui-lock" for="pass"></label>
	    </div>
	    <div class="form-group">
              <input type="password" class="form-control login-field" value="" placeholder="Password" name="pass" />
              <label class="login-field-icon fui-lock" for="passconf"></label>
	    </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
