<div class="container content-top">
  <div class="col-xs-12">
    <p>Welcome to Rostyr!</p>
    <p>Please activate your account by clicking the link we've just sent to your email.</p>
  </div>
</div>
