.table .table {
    background-color: transparent;
}

.flash-msg {
    background-color: #E74C3C;
    color: #fff;
}

.navbar {
    margin-bottom: 0px;
}

.masthead {
    background-color: #3498DB;
}

.padform {
    padding: 30px 0;
}

label[for=tagsinput] {
    padding-top: 5px;
}

.thumbnail {
    margin-bottom: 15px;
}

.content-top {
    margin-top: 50px;
}

.switch-pad {
    padding-top: 5px;
}

.no-gutter {
  padding-right: 0;
  padding-left: 0;
}

.sm-mb {
    margin-bottom: 10px;
}

.lg-mb {
    margin-bottom: 30px
}

.no-margin {
    margin-bottom: 0;
}

/* Footer */

.footer {
    color: #cccccc;
    text-align: center;
    margin-top: 30px;
}
.footer p {
    font-size: 11px;
}
.footer a {
    color: #ccccff;
}